*{
    margin: 0;
    padding: 0;
}

.body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clockContainer{
    width: 46vw;
    height: 100vh;
    background: url(../assets/clock.png) no-repeat ;
    background-size: contain;
/*     position: absolute; */
/*     text-align: center; */
}

.hourHand{
    width: 1.3%;
    height: 24%;
    background-color: black;
    position: absolute;
    border-radius: 20px;
    top: 25.5%;
    left: 49.3%;
    transform-origin: bottom;
}
.minuteHand{
    width: 1%;
    height: 29.6%;
    background-color: black;
    position: absolute;
    border-radius: 20px;
    top: 19.8%;
    left: 49.4%;
    transform-origin: bottom;
}
.secondHand{
    width: 0.6%;
    height: 34%;
    background-color: black;
    position: absolute;
    border-radius: 20px;
    top: 15.4%;
    left: 49.5%;
    transform-origin: bottom;   
}
